/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    margin: 50px 0px;
}

hr {
    clear: both;
}

.img-polaroid {
    margin-bottom: 10px;
}